<a href="https://colab.research.google.com/github/Shrinivas18/Python_Pattern_Problems/blob/main/Mirrored_Pyramid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem** : Mirrored Pyramid (Right-angled Triangle) Pattern of Numbers.

![que1.GIF]()

In [12]:
rows = int(input("Enter number of rows : "))

for row in range(1, rows):
  num = 1
  for j in range(rows, 0, -1):
    if j > row:
      print(" ", end=' ')
    else:
      print(num, end=' ')
      num += 1

  print("")

Enter number of rows : 5
        1
      1 2
    1 2 3
  1 2 3 4